.characterCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  margin-top: 100px;
  color: white;
}

.marvelLogo {
  width: 400px;
  height: 150px;
}

body {
  // background-color: #F0131E;
  background-image: url("https://i.pinimg.com/originals/c4/bf/00/c4bf00ecada9375948387f00c211f205.jpg");
}

// .container {
  
// }