.searchTable {
  background-color: white;
  border: none;
  height: max-content;
}

.content-item {
  cursor: pointer;
}

.tableHeader {
  color: black;
  border: none;
}

.searchText {
  color: black;
}

.table {
  border: none;
}
