.card-tile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: solid 1px black;
  width: 15vw;
  height: 40vh;

  img {
    width: 15vw;
    height: 40vh;
    position: relative;
  }

  .card-caption-div {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.548);
    width: 15vw;
    height: 5vh;
    align-items: center;

    .add-text {
      font-weight: bold;
      color: white;
    }

    .add-icon {
      font-size: 48px;
      color: red;
      margin: 2px;
      cursor: pointer;
    }
  }
}
