.detail-page-container {
  width: 100%;
  padding: 50px 60px;
  align-items: center;
  display: flex;
  flex-direction: column;
  h2 {
    color: red;
  }

  .header-display-container {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // color: green;
    .checkmark {
      color: green;
      font-size: 30px;
    }
  }

  .top-area {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    #first-column {
      display: flex;
      flex-direction: column;
      width: 600px;
      align-items: center;
      h2 {
        text-align: left;
      }

      .misc-details {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 20vw;
      }

      .add-to-list-btn {
        min-width: 250px;
        margin-top: 20px;
      }
      .remove-from-list-btn {
        min-width: 250px;
        margin-top: 20px;
      }
    }
    #second-column {
      width: 1150px;
      h2 {
        text-align: left;
      }

      .video-player {
        height: 637px;
        width: 60vw;
        margin-bottom: 3vh;
      }

      .details-header-div {
        display: flex;
      }
      .details-column-container {
        display: flex;
        text-align: left;
      }
    }

    .content-image {
      height: 636px;
      width: 420px;
    }
  }

  .misc-details {
    font-weight: bold;
  }

  .in-collection {
    color: green;
    font-weight: bold;
    .checkmark {
      color: green;
      font-size: 20px;
      font-weight: bold;
      margin-top: 2px;
    }
  }
  .not-in-collection {
    color: red;
    font-weight: bold;
    .cancel {
      color: red;
      font-size: 20px;
      font-weight: bold;
      margin-top: 2px;
    }
  }

  .active {
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      margin: 0 10px 0;
    }
  }

  .inactive {
    display: none;
  }

  .row-container {
    text-align: left;
    margin-top: 40px;
  }

  .slider-row {
    display: flex;
    max-width: 95vw;
    flex-wrap: wrap;
    justify-content: center;
  }
}
